body{
    background-color: rgb(58, 57, 57);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.top-btn {
    border: 5px solid white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 60px;
}
button{
    background-color: rgb(58, 57, 57);
    cursor: pointer;
}
.reset,
.auto-play{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 35px;

}
.choice-elm, .js-score{
    font-size: 30px;
}

.yes-btn,
.no-btn {
    
    background-color: white;
    height: 3rem;
    width: 5rem;
    margin-left: 15px;
    border:none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
.fill {
    
    padding-top: 7px;
    padding-left: 50px;
    padding-bottom: 7px;
    height: 50px;
    width: 40rem;
    display: flex;
    align-items: center;
    background-color: red;
    font-size: 20px;
    border-radius: 30px;
}
.fill span{
    display: flex;
    align-items: center;

}